body, html{
    height: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    
}
.title{ 
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.container{
    position: relative;
    width: 800px;
    height: 400px;
}
#ball{
   
    position:absolute;
    left:10px;
    top:0px;
    border: 2px solid #fff;
    border-radius: 50%;
}



#bar1{
    top: 20px;
    float: left; 
    position: absolute;
}
#bar2{
    top: 20px;
    right:0px;
    position: absolute;
}
#line{
    z-index: 1;
    width:50%;
    border-right: #fff dashed 5px;
    height: 100%;  
}
.point1{
    color: brown;
    font-size: 2.5em;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 42%;
    background: #fff;
    width: 50px;
    height: 50px;
}
.point2{
    color: blue;
    font-size: 2.5em;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 55%;
    background: #fff;
    width: 50px;
    height: 50px;
}